<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>WeatherTracker</title>
    <style>
        body {
            font-family: 'Arial';
        }
        h1 {
            font-size: 80px
        }
        .padding-first {
            padding: 50px 0px 0px 150px
        }
        .padding-second {
            padding: 50px 0px 0px 150px
        }
        .padding-left {
            margin-left: 150px
        }
    </style>
</head>
<body><form method="post">
    <h1 align="center"> WeatherTracker </h1>
    <p align="center">Готовитесь к поездке? Сравните прогноз и планируйте своё путешествие с уверенностью.</p>
    <p class="padding-first">
        Город, с которого начнёте путешествие:
    </p>
    <input type="text" id="city_start" name="city_start" class="padding-left" required>
    <p class="padding-second">
        Город, в котором закончите путешествие:
    </p>
    <input type="text" id="city_end" name="city_end" class="padding-left" required>
    <p class="padding-second">
        Через сколько дней вы окажетесь в конечной точке (введите число от 0 до 5):
    </p>
    <input type="number" id="forecast_day" name="forecast_day" class="padding-left" required>
    <button type="submit">Посмотреть прогноз</button>
</form>
</body>
</html>